:root {
    --gradient: linear-gradient(-45deg,#F2A241,  #F1BE75, #EDF1F4 , #D8EAE9,#68B6AD );
}

.gradient-animation {
    background-size: 400% 400%;
    background-image: var(--gradient);
    animation: gradient 15s ease infinite;
    height: 100vh
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}